﻿.btn-prim {
    font-size: 17px;
    color: #fff;
    font-family: Raleway;
    font-weight: 300;
    border: 1px solid #03434F !important;
    padding: 10px 40px;
    display: inline-block;
    margin: 12px 0;
    background: #03434F;
    border-radius: 0 !important;
}

    .btn-prim:hover {
        background: #fff !important;
        color: #03434F;
        text-decoration: none;
        border: 1px solid #03434F !important;
        border-radius: 0 !important;
    }


.btn-second,
.pagination a {
    font-size: 17px;
    color: #03434F;
    font-family: Raleway;
    font-weight: 300;
    border: 1px solid #03434F !important;
    padding: 10px 40px;
    display: inline-block;
    margin: 12px 0;
    background: none;
    border-radius: 0 !important;
}

    .btn-second:hover,
    .pagination a:hover {
        background: #03434F !important;
        color: #fff;
        text-decoration: none;
        border: 1px solid #03434F !important;
        border-radius: 0 !important;
    }

.pagination a {
    padding: 0px 14px !important;
    font-size: 25px;
    line-height: 35px;
    background: #03434F;
    margin: 10px;
}
.pagination .active a {
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    background: #03434F;
}

.PagedList-skipToNext a {
}

    .PagedList-skipToNext a::before {
        font-family: "Font Awesome";
        font-weight: 400;
        content: "\f101";
    }


.sort {
    margin-top: 25px;
    float: right;
}




@media (max-width:767px) {
    .sort{
        float: left;
        margin: unset;
    }
    .addClanakBtnSection {
        text-align: center;
    }
}