﻿.pregledKatList h1.categoryHeader {
    text-transform: uppercase;
    font-weight: 700;
    font-family: Raleway;
    color: #4d4d4d;
    font-size: 45px;
}

.categoryHeaderDesc {
    font-family: Raleway;
    font-weight: 300;
    font-size: 17px;
    color: #4d4d4d;
}


h1.clanakTitle {
    font-family: Raleway;
    font-size: 25px;
    font-weight: 600;
    color: #03434F;
}
