﻿body {
    padding-top: 89px;
    font-family: Raleway;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.container.body-content {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sadrzajNaslovne {
    margin-bottom: 100px;
}

.sadrzajNaslovne,
.naslovSekcija,
.sadrzajFooter,
.kategorijaHeader,
.innerContainer,
.pojedinacnoClanakKategorija,
#accordion,
.pregledKatList  {
    margin-right: auto;
    margin-left: auto;
}

.naslovSekcija {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 50px auto;
    color: #03434F;
}

b {
    font-weight: 600;
}

/*----------------------------------------------------------*/
/*                    PAGE SECTIONS                         */
/*----------------------------------------------------------*/

/*-----------------------NAVIGACIJA-------------------------*/

.navbar-inverse .navbar-nav > li > a {
    font-size: 22px;
    color: #fff;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background: #03434F; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #1F5962, #03434F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #1F5962, #03434F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #1F5962, #03434F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #1F5962, #03434F); /* Standard syntax */
    border-color: transparent;
    min-height: 85px;
}

img.logotipNavigacija {
    width: 200px;
}

/*-------------------NASLOVNA CAROUSEL----------------------*/

.carousel-caption {
    text-shadow: none;
    text-align: left;
}

    .carousel-caption h3 {
        font-weight: bold;
        font-size: 55px;
        text-transform: uppercase;
        color: #03434F;
    }

    .carousel-caption p {
        font-size: 22px;
        font-weight: normal;
        color: #4d4d4d;
    }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    opacity: 0.45 !important;
}

.carousel-indicators .active {
    background-color: #4d4d4d;
}

.carousel-indicators li {
    border-color: #4d4d4d;
}

/*------------------NASLOVNA KATEGORIJE---------------------*/

.opisKategorije {
    width: 300px;
    height: auto;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 15px;
    opacity: 0;
    transition: opacity 0.2s;
    text-align: center;
}

    .opisKategorije p {
        display: none;
    }

        .opisKategorije p:nth-child(1) {
            display: inherit;
        }

.naslovKategorije {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    width: 300px;
    height: auto;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 15px;
    opacity: 1;
    transition: opacity 0.2s;
}

.colorOverlay {
    position: absolute;
    top: 0px;
    opacity: 0.6;
    background-color: #03434F;
    transition: opacity 0.2s;
}

.pojedinacnaKategorija {
    overflow: hidden;
    filter: blur(0px);
    transition: 0.2s -webkit-filter linear;
    width: 300px;
    height: 300px;
    margin: 15px;
    padding: 0
}
    .pojedinacnaKategorija:hover {
        box-shadow: 0px 0px 10px #888888;
        transition: 0.2s -webkit-filter linear;
    }

    .pojedinacnaKategorija img {
        transition: 0.2s box-shadow linear;
    }


.kategorijaSlikaPozadina,
.colorOverlay {
    width: 300px;
    height: 300px;
}

/*------------------------FOOTER----------------------------*/

footer {
    height: 250px;
    background-color: #03434F;
    color: #fff;
}

/*----------------ACCORDION KATEGORIJE----------------------*/

#accordion .kategorijaHeader {
    background-color: #03434F;
    padding: 20px 15px 29px 15px;
    margin-bottom: 20px;
}


#accordion .nazivKategorije {
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    font-size: 30px;
    margin-bottom: 13px;
}

#accordion .kategorijaDesc {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    line-height: 23px;
}

#accordion a:hover,
#accordion a:active,
#accordion a:focus,
#accordion a:visited {
    text-decoration: none;
}

.noDecoration:hover div,
.noDecoration div,
.noDecoration:hover p,
.noDecoration p {
    text-decoration: none;
    color: #4d4d4d;
}

a.noDecoration:hover .pojedinacnoClanakKategorija {
    background-color:#e8e8e8;
    transition: background-color 0.3s;
}

a.collapsed i.fa-plus-circle:before {
    color: #fff;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(0deg);
    transition: 0.2s transform;
}


a:not(.collapsed) i.fa-plus-circle:before {
    color: #fff;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    transition: 0.5s transform;
}

.pojedinacnoClanakKategorija {
    background-color: #f2f2f2;
    margin-bottom: 5px;
    padding: 18px 66px;
    transition: background-color 0.3s;
}

.pojedinacnoClanakKategorijaNaslov {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 12px;
}

.pojedinacnoClanakKategorijaOpis {
    font-size: 15px;
}


/*----------------------------------------------------------*/
/*                END OF PAGE SECTIONS                      */
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*                       MEDIA QERIES                       */
/*----------------------------------------------------------*/
@media (min-width: 768px) {
    .container.body-content {
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .sadrzajNaslovne,
    .naslovSekcija,
    .sadrzajFooter,
    .kategorijaHeader,
    .innerContainer,
    .pojedinacnoClanakKategorija,
    #accordion,
    .pregledKatList {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container.body-content {
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .sadrzajNaslovne,
    .naslovSekcija,
    .sadrzajFooter,
    .kategorijaHeader,
    .innerContainer,
    .pojedinacnoClanakKategorija,
    #accordion,
    .pregledKatList {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container.body-content {
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .sadrzajNaslovne,
    .naslovSekcija,
    .sadrzajFooter,
    .kategorijaHeader,
    .innerContainer,
    .pojedinacnoClanakKategorija,
    #accordion,
    .pregledKatList {
        max-width: 1170px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 10%;
        left: 10%;
        padding-bottom: 65px;
    }
}

@media screen and (max-width: 1199px) {
    .carousel-caption h3 {
        font-size: 40px;
    }

    .carousel-caption p {
        font-size: 17px;
    }

    .pojedinacnaKategorija {
        width: 250px;
        height: 250px;
        margin: 15px;
    }
    .kategorijaSlikaPozadina,
    .colorOverlay,
    .naslovKategorije {
        width: 250px;
        height: 250px;
    }
    .naslovKategorije {
        font-size: 25px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-25%);
    }
    .opisKategorije {
        width: 250px;
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 34px;
        padding-bottom: 34px;
    }
}


@media (min-width: 992px) {

        .pojedinacnaKategorija:hover .naslovKategorije {
            opacity: 0;
            transition: opacity 0.2s;
        }

        .pojedinacnaKategorija:hover .opisKategorije,
        .pojedinacnaKategorija:hover .colorOverlay {
            opacity: 1;
            transition: opacity 0.2s;
        }
}

@media (max-width: 991px){
    .pojedinacnaKategorija {
        overflow: hidden;
        filter: blur(0px);
        transition: 0.2s -webkit-filter linear;
        width: 222px;
        height: 222px;
        margin: 4px;
        padding: 0;
    }

    .kategorijaSlikaPozadina,
    .colorOverlay,
    .naslovKategorije {
        width: 222px;
        height: 222px;
    }
}

@media (max-width: 769px) {
    .pojedinacnaKategorija {
        width: 150px;
        height: 150px;
    }
    .kategorijaSlikaPozadina,
    .colorOverlay,
    .naslovKategorije {
        width: 150px;
        height: 150px;
    }
    .naslovKategorije {
        font-size: 16px;
    }

/*----------------------------------------------------------*/
/*                    END OF MEDIA QERIES                   */
/*----------------------------------------------------------*/



.clanakSingleItem {
    border: 1px solid #03434F;
    padding: 35px;
    margin: 15px 0;
}
.pregledKatList {
    display: grid;
}