﻿@model List<ahycoV3.Models.Clanak>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        @{
            var base64 = Convert.ToBase64String(Model.ElementAt(0).naslovnaClanak);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }

        <div class="item active">
            <a href="@Url.Action("Details", "Clanaks", new { id = Model.ElementAt(0).clanakId }, null)">
                <img class="d-block img-fluid" src="@imgSrc" />
                <div class="carousel-caption">
                    <h3>@Html.DisplayFor(modelItem => Model.ElementAt(0).naslovClanak)</h3>
                    <p>@Html.Raw(Model.ElementAt(0).sadrzajClanak)</p>
                </div>
            </a>
        </div>

        @{
            base64 = Convert.ToBase64String(Model.ElementAt(1).naslovnaClanak);
            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }

        <div class="item ">
            <a href="@Url.Action("Details", "Clanaks", new { id = Model.ElementAt(1).clanakId }, null)">
                <img src="@imgSrc" />
                <div class="carousel-caption">
                    <h3>@Html.DisplayFor(modelItem => Model.ElementAt(1).naslovClanak)</h3>
                    <p>@Html.Raw(Model.ElementAt(1).sadrzajClanak)</p>
                </div>
            </a>
</div>

        @{
            base64 = Convert.ToBase64String(Model.ElementAt(2).naslovnaClanak);
            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }

        <div class="item ">
            <a href="@Url.Action("Details", "Clanaks", new { id = Model.ElementAt(2).clanakId }, null)">
                <img src="@imgSrc" />
                <div class="carousel-caption">
                    <h3>@Html.DisplayFor(modelItem => Model.ElementAt(2).naslovClanak)</h3>
                    <p>@Html.Raw(Model.ElementAt(2).sadrzajClanak)</p>
                </div>
            </a>
</div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
