﻿@model List<ahycoV3.Models.Kategorije>

<div class="sveKategorije col-xs-12 clearfix">

        @foreach (var item in Model)
        {
            var base64 = Convert.ToBase64String(item.slikaKategorija);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

            <div class="pojedinacnaKategorija col-xs-4">
                <a href="@Url.Action("Index", "Clanaks", new { katId = item.kategorijaId, katName = item.nazivKategorija}, null)">
                    <img class="kategorijaSlikaPozadina" src="@imgSrc" />
                    <div class="colorOverlay"></div>
                    <div class="naslovKategorije">
                        @Html.DisplayFor(modelItem => item.nazivKategorija)
                    </div>
                    <div class="opisKategorije">
                        @Html.Raw(item.opisKategorija)
                    </div>
                </a>
            </div>
        }
</div>
