﻿@{
    ViewBag.Title = "AHyCo";
}
<div class="naslovnaSlider">
    @Html.Action("ClanakCarousel", "Home")
</div>
<div class="col-xs-12 naslovSekcija">Kategorije članaka</div>
<div class="col-xs-12 sadrzajNaslovne clearfix">
    @Html.Action("ReturnKategorije", "Home")
</div>