﻿@model List<ahycoV3.Models.Clanak>
@using System.Linq

@if (!Model.Any())
{
    <p>Model je prazan</p>
}
@if (Model.Any())
{
    foreach (var item in Model)
    {
        <a href="@Url.Action("Details", new { id = item.clanakId })" class="noDecoration">
            <div class="cols-xs-12 pojedinacnoClanakKategorija">

                <div class="pojedinacnoClanakKategorijaNaslov">
                    @Html.DisplayFor(modelItem => item.naslovClanak)
                </div>
                <div class="pojedinacnoClanakKategorijaOpis">
                        @Html.Raw(WebUtility.HtmlDecode(item.uvodClanak))
</div>
            </div>
        </a>
    }
}