﻿@model ahycoV3.Models.Clanak

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<h2>Create</h2>

@using (Html.BeginForm(null, "clanaks", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Clanak</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.naslovClanak, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.naslovClanak, new { htmlAttributes = new { @class = "form-control", placeholder = "Naslov članka" } })
                @Html.ValidationMessageFor(model => model.naslovClanak, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sadrzajClanak, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.sadrzajClanak, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.sadrzajClanak, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.naslovnaClanak, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="file" name="ClanakNaslovna" id="ClanakNaslovna" accept=".png,.jpg,.jpeg,.gif,.tif" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datumClanak, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datumClanak, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.datumClanak, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kategorijaId, "kategorijaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kategorijaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kategorijaId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.uvodClanak, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.uvodClanak, new { htmlAttributes = new { @class = "form-control", placeholder = "Naslov članka" } })
                @Html.ValidationMessageFor(model => model.uvodClanak, "", new { @class = "text-danger" })
            </div>
        </div>
        

        @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.userId, "userId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DropDownList("userId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.userId, "", new { @class = "text-danger" })

                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "PregledKategorija")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd. MM yy."
            });
        });
    </script>
}
