﻿@model ahycoV3.Models.Clanak

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Clanak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naslovClanak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naslovClanak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sadrzajClanak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sadrzajClanak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.naslovnaClanak)
        </dt>

        <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.naslovnaClanak);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src="@imgSrc" style="width:100px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datumClanak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumClanak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategorije.nazivKategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategorije.nazivKategorija)
        </dd>

    </dl>

    @using (Html.BeginForm()) {

        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
