﻿@model ahycoV3.Models.Clanak

@{
    ViewBag.Title = "Details";
}
<div>



    @{
        var base64 = Convert.ToBase64String(Model.naslovnaClanak);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }

    <div class="naslovnaSlider" style="color: white; background:url(@imgSrc); background-repeat:no-repeat; background-size:contain; background-position:center; height: auto; position:relative">

        <img src="@imgSrc" style="height:auto; width:100%; visibility:hidden" />
        <h3 style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">@Html.DisplayFor(model => model.naslovClanak)</h3>
        <h4 style="position: absolute">@Html.DisplayFor(model => model.AspNetUser.Ime) @Html.DisplayFor(model => model.AspNetUser.Prezime)</h4>
        <h5 style="position: absolute">@Html.DisplayFor(model => model.ReturnDateForDisplay)</h5>
    </div>

    <div class="col-xs-12 naslovSekcija"> <br />@Html.DisplayFor(model => model.Kategorije.nazivKategorija)</div>
    <div class="col-xs-12 sadrzajNaslovne clearfix">
        @Html.Raw(Model.sadrzajClanak)

        @if (ViewContext.HttpContext.User.IsInRole("Administrator") || ViewContext.HttpContext.User.IsInRole("Editor") && ViewBag.istiUser == true)
            {
            @Html.ActionLink("Edit", "Edit", new { id = Model.clanakId }, new { @class = "btn-pr" }) ;
            }
        @Html.ActionLink("Back to List", "PregledKategorija", null, null, new { @class = "btn-pr" })

    </div>



</div>