﻿
@model PagedList.IPagedList<ahycoV3.Models.Clanak>
@using PagedList.Mvc;
@{
    ViewBag.Title = "IndexUser";
}

<h2>Index</h2>


<div class="pregledKatList">
    <div>
        @if (ViewContext.HttpContext.User.IsInRole("Administrator") || ViewContext.HttpContext.User.IsInRole("Editor"))
        {
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn-pr" })
        }


        @Html.ActionLink("Naslov", "IndexUser", new { sortOrder = ViewBag.NameSortParm, katId = ViewBag.kategorijaId }, new { @class = "btn-pr" })
        @Html.ActionLink("Datum", "IndexUser", new { sortOrder = ViewBag.DateSortParm, katId = ViewBag.kategorijaId }, new { @class = "btn-pr" })
        @Html.ActionLink("User email", "IndexUser", new { sortOrder = ViewBag.UserSortParm, katId = ViewBag.kategorijaId }, new { @class = "btn-pr" })
    </div>

    @foreach (var item in Model)
    {

        using (Html.BeginForm("Delete", "Clanaks", new { id = item.clanakId }))
        {

            <div class="clanakSingleItem">
                <div class="col-sm-12 clanakSingleItemText">
                    <h1>@Html.Raw(item.naslovClanak)</h1>
                    @Html.Raw(item.AspNetUser.UserName)
                    @Html.Raw(item.sadrzajClanak)
                    @Html.Raw(item.datumClanak)

                    @Html.ActionLink("Details", "Details", new { id = item.clanakId })
                    <button type="button" class="btn-pr" id="deleteBtn" data-toggle="collapse" data-target="#@item.clanakId">Delete</button>
                    <div id="@item.clanakId" class="collapse">
                        <p>Jeste li sigurni da želite izbrisati odabrani članak?</p>
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Da" class="btn-pr" />

                    </div>
                </div>

            </div>
        }
    }
    <div class="col-xs-12">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("IndexUser",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>




