﻿
@model PagedList.IPagedList<ahycoV3.Models.Clanak>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}



<div class="pregledKatList">

    @Html.Action("NaslovOpisKategorija", "Kategorijes", new { katId = ViewBag.kategorijaId })

    <div>
        @if (ViewContext.HttpContext.User.IsInRole("Administrator") || ViewContext.HttpContext.User.IsInRole("Editor"))
        {
            <div class="addClanakBtnSection">
                <a href="@Url.Action("Create")" class="btn-prim">Dodaj članak  <i class="fa fa-plus"></i></a>
            </div>
        }

        <div class="sort">Sortiraj po:
            @Html.ActionLink("naslovu", "Index", new { sortOrder = ViewBag.NameSortParm, katId = ViewBag.kategorijaId }, new { @class = "btn-pr" }) ili 
            @Html.ActionLink("datumu", "Index", new { sortOrder = ViewBag.DateSortParm, katId = ViewBag.kategorijaId }, new { @class = "btn-pr" })
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="clanakSingleItem">
            <div class="col-sm-12 col-md-4 clanakSingleItemSlika">
                @{
                    var base64 = Convert.ToBase64String(item.naslovnaClanak);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }

                <img src="@imgSrc" style="width: 100%" />
            </div>
            <div class="col-sm-12 col-md-8 clanakSingleItemText">
                <h1 class="clanakTitle">@Html.DisplayFor(modelItem => item.naslovClanak)</h1>
                <div class="categoryHeaderDesc">@Html.DisplayFor(modelItem => item.sadrzajClanak)</div>
                <div>@Html.ActionLink("Otvori članak", "Details", new { id = item.clanakId }, new { @class = "btn-second" })</div>
            </div>
        </div>
                    }

    <div class="col-xs-12 text-center">

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, katId = ViewBag.kategorijaId }))
    </div>
</div>