﻿
@model IEnumerable<ahycoV3.Models.Kategorije>
@{
    ViewBag.Title = "Kategorije članaka";
}

<div id="accordion" role="tablist">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header" role="tab" id="@("heading"+ item.kategorijaId)">
                <a class="collapsed" data-toggle="collapse" href="@("#collapse"+ item.kategorijaId)" aria-expanded="false" aria-controls="@("collapse"+ item.kategorijaId)">
                    <div class="col-xs-12 clearfix kategorijaHeader">
                        <div class="col-xs-10">
                            <div class="col-xs-12 nazivKategorije">
                            @Html.DisplayFor(modelItem => item.nazivKategorija)
                            </div>
                            <div class="col-xs-12 kategorijaDesc">
                                @Html.Raw(item.opisKategorija)
                            </div>
                        </div>
                        <div class="col-xs-2"><i class="fa fa-plus-circle"></i></div>
                    </div>
                </a>
            </div>
            <div id="@("collapse"+ item.kategorijaId)" class="collapse" role="tabpanel" aria-labelledby="@("heading"+ item.kategorijaId)" data-parent="#accordion">
                <div class="card-body">
                    @Html.Action("PregledClanakaPoKategorijama", "Clanaks", new { katId = item.kategorijaId })
                    <div class="col-xs-12 clearfix">
                        @Html.ActionLink("Svi članci", "Index", new { katId = item.kategorijaId, katName = item.nazivKategorija}, new { @class = "btn-pr" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
