﻿@model List<ahycoV3.Models.Kategorije>
<div>
@foreach (var item in Model)
{
            <div>
                <h1 class="categoryHeader">@Html.DisplayFor(modelItem => item.nazivKategorija)</h1>
            </div>
            <div class="categoryHeaderDesc">
               @Html.Raw(item.opisKategorija)
            </div>
}
</div >
<link href="~/Content/Font.css" rel="stylesheet" />