﻿@model ahycoV3.Models.Kategorije

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kategorije</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazivKategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazivKategorija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opisKategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opisKategorija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slikaKategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slikaKategorija)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.kategorijaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
