﻿@model IEnumerable<ahycoV3.Models.Kategorije>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazivKategorija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opisKategorija)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nazivKategorija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opisKategorija)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.kategorijaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.kategorijaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.kategorijaId })
        </td>
    </tr>
}

</table>
