﻿@model ahycoV3.Models.IndexViewModel
@{
    ViewBag.Title = "Korisnički profil";
}
<p>@Html.ActionLink("Korisnici", "Index", "aspNetUsers") | @Html.ActionLink("Pregled članaka", "IndexUser", "Clanaks")</p>
<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
